/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #8B87A3;
  margin: 0 0 0 .5rem;
}

.container {
  max-width: 400px;
  margin: 20rem auto;
}

.calculator {
  border: 8px ridge #8B87A3;
  border-radius: 16px;
  padding: 2rem;
  background-color: #E0DEEF;
}

.calculator__screen {
  height: 55px;
  margin: 24px 0;
  background-color: #F2AE80;
  text-align: right;
  padding: 4px 16px 4px 4px;
  font-size: 32px;
  color: #E0DEEF;
  text-shadow: 1px 1px #8B87A3;
}


.calculator__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator__buttons__item {
  width: 60px;
  height: 25px;
  margin: 5px;
  text-align: center;
  text-shadow: 1px 1px #8B87A3;
  border-radius: 20px;
  background-color: #8B87A3;
  color: #E0DEEF;
}
