body {
  height: 100vh;
}

/* wrapper of players */
.vs {
  display: flex;
  justify-content: center;
}

/* vs  */
h2 {
  display: flex;
  align-items: center;
  font-size: 50px;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vh;
  margin-bottom: 5vmax;
}

/* card image */
img {
  width: 250px;
  height: auto;
  margin-block: 5rem;

}

/* result */
.result .message {
  margin-right: 150px;
}

.result .nes-balloon {
  margin: 0 0 50px 150px;
}

/* selection buttons */
.move {
  padding: 6vh 0;
}

/* restart button */
.restart-button {
  margin: 5% 0 20% 0;
  padding: 30px 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px dashed #000;
  font-size: 40px;
}

/* small screens  */
@media screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
    margin: 0 auto;
  }

  .vs {
    flex-direction: column;
  }

  .card {
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin: 0;
  }

  img {
    width: 100px;
    margin: 12px 0;
    ;
  }

  .result .message {
    display: none;
  }

  .result .nes-balloon {
    margin: 12px 0;
    padding: 2px;
    font-size: 12px;
  }

  .move {
    margin: 10px 0;
  }

  .move .nes-btn {
    margin: 5px;
  }

  .move p {
    display: none;
  }

  .restart-button {
    margin: 0;
    top: 30%;
    padding: 50px 20%;
    font-size: 20px;
  }
}