body {
  height: 100vh;
  overflow: hidden;
}

/* wrapper of players */
.vs {
  display: flex;
  justify-content: center;
}

/* vs  */
h2 {
  display: flex;
  align-items: center;
  font-size: 50px;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vh;
  margin-bottom: 5vmax;
}

/* card image */
img {
  width: 27%;
  height: auto;
  margin-block: 5rem;

}

/* result */
.result .message {
  margin-right: 150px;
}

.result .nes-balloon {
  margin: 0 0 50px 150px;
}

/* selection buttons */
.move {
  padding: 10vh 0;
}